<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Atrás"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="tittle">Inferior</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/Buzo1.jpg"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p class="p">Buzo Nike</p>
        <p>Precio:$ ******</p>
        <p>Modelo:*****</p>
        <p>Agregar Al Carrito:</p>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> 
      </ion-card-content>
    </ion-card>
  </div>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/Buzo2.jfif"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p class="p">Buzo Gris</p>
        <p>Precio:$ ******</p>
        <p>Modelo:*****</p>
        <p>Agregar Al Carrito:</p>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> 
      </ion-card-content>
    </ion-card>
  </div>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/Buzo3.jfif"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p class="p">Buzo Negro</p>
        <p>Precio:$ ******</p>
        <p>Modelo:*****</p>
        <p>Agregar Al Carrito:</p>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> 
      </ion-card-content>
    </ion-card>
  </div>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/Buzo4.jpg"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p class="p">Buzo Adidas</p>
        <p>Precio:$ ******</p>
        <p>Modelo:*****</p>
        <p>Agregar Al Carrito:</p>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> 
      </ion-card-content>
    </ion-card>
  </div>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/Buzo5.jpg"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p class="p">Buzo Negro</p>
        <p>Precio:$ ******</p>
        <p>Modelo:*****</p>
        <p>Agregar Al Carrito:</p>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> 
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
