<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Action-sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Awesome Subtitle</ion-card-subtitle>
      <ion-card-title class="titulo">Awesome Title</ion-card-title>
    </ion-card-header>

    <ion-card-content  class="ion-padding contenido">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam soluta omnis, dolorem culpa quia tenetur! Eaque nostrum veritatis esse enim a molestias culpa nesciunt quo nihil possimus aliquid error excepturi atque quaerat mollitia rem tempore placeat facilis eos aspernatur repellendus nobis, quia ab. Accusantium ex obcaecati hic amet aliquid. Laudantium.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item href="http://www.google.cl" target="_blank">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Inicia Sesión con Google</ion-label>
    </ion-item>
  
    <ion-item href="http://www.instagram.com" target="_blank">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-item>
      
  </ion-card>

  <!--insertar un card con header, subtitulo, titulo, 
  insertar un content con un texto determinado y una imagen dentro del card
  que direccione hacia una url determinada-->

   
</ion-content>
