<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Atrás"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="tittle">Superior</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/Polera1.jpg"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p class="p">Polera MMAC</p>
        <p>Precio:$ ******</p>
        <p>Modelo:*****</p>
        <p>Agregar Al Carrito:</p>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> 
      </ion-card-content>
    </ion-card>
  </div>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/Polera2.jfif"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p class="p">Polera Style</p>
        <p>Precio:$ ******</p>
        <p>Modelo:*****</p>
        <p>Agregar Al Carrito:</p>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> 
      </ion-card-content>
    </ion-card>
  </div>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/Polera3.jfif"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p class="p">Polera Rex</p>
        <p>Precio:$ ******</p>
        <p>Modelo:*****</p>
        <p>Agregar Al Carrito:</p>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> 
      </ion-card-content>
    </ion-card>
  </div>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/Polera4.jfif"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p class="p">Polera Louture</p>
        <p>Precio:$ ******</p>
        <p>Modelo:*****</p>
        <p>Agregar Al Carrito:</p>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> 
      </ion-card-content>
    </ion-card>
  </div>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/polera5.jpg"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p class="p">Polera </p>
        <p>Precio:$ ******</p>
        <p>Modelo:*****</p>
        <p>Agregar Al Carrito:</p>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> 
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
